* {
  overflow: hidden;
}

.large-icon {
  font-size: 80px;
  color: black;
  width: 100%;
  height: 100%;
}

.large-icon:hover {
  transform: scale(1.1); /* Make the icon bigger */
}

.icon-link {
  display: flex;                /* Enables flexbox layout */
  justify-content: center;      /* Centers icon horizontally */
  align-items: center;          /* Centers icon vertically */
  width: 100%;              /* Adjust size as needed */
  height: 20%;
  text-decoration: none;    /* Removes underline */
}

/* Apply Flexbox centering to the container */
.svg-container {
  position: fixed;     /* Position fixed to center it on screen */
  top: 50%;            /* Center vertically */
  left: 50%;           /* Center horizontally */
  transform: translate(-50%, -50%) scale(1.5); /* Offset to align center */
  z-index: 1000;       /* Ensure it appears above other elements */
  text-align: center;
}

.sidenav-container {
    display: flex;
    height: 50vh;
    background-color: transparent;
  }

.left-sidebar {
    width: 150px;
    padding: 20px;
    background-color: #f4f4f4;
    border-right: 1px solid #ddd;
    position: fixed;
    top: 100px; /* After the top bar */
    height: 80%;
    left: 0;

  }

.top-right-box {
  position: fixed;
  top: 60px;
  right: 20px;
  width: 300px;
  height: 50%;
  z-index: 1000;
}

.exercise-list {
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.exercise-item {
  margin: 0 0 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  transition: transform 0.2s, box-shadow 0.2s;
}

.exercise-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.exercise-item h3 {
  margin: 0 0 10px;
  color: #333;
}

.exercise-item p {
  margin: 0 0 10px;
  color: #666;
}

.exercise-limits {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  color: #999;
}

.exercise-link {
  text-decoration: none;
  color: inherit; /* Optional: Use this to inherit the text color */
}

.exercise-link:hover {
  text-decoration: none; /* Explicitly remove underline on hover */
}

.stylish-button { 
  background-color: #007bff;
  color: white;
  padding: 4px 20px; /* slimmer vertically, more balanced horizontally */
  border: none;
  border-radius: 5px;
  font-size: 14px;
  height: 32px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: block;
  text-align: center;
  margin: 20px auto;
  max-width: 300px;
  width: 100%;
  box-sizing: border-box;
}

.stylish-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.stylish-button:active {
  background-color: #003f7f;
  transform: scale(0.95);
}